@font-face {
    font-family: vs;
    src: url(../font/CONSOLA.TTF);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vs , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #1e1e1e;
}
/* nav top */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    color: #c2c2c2;
    height: 42px;
    font-size: 18px;
    overflow: hidden;
}
.nav img {
    height: 30px;
}
.nav ul {
    align-items: center;
    display: flex;
    list-style: none;
}
.nav ul.f-ul li {
    padding: 0 20px;
    text-transform: capitalize;
}
.nav ul.f-ul li a{
    color: #c2c2c2;
    text-decoration: none;
}
.nav ul.icon li {
    padding: 0 20px;
}
.nav ul.icon li ,  .nav ul.f-ul li{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul.icon li svg {
    height: 30px;
    color: white;
}
.nav ul.icon li:nth-child(2) svg {
    height: 23px;
}
.nav ul.icon li:hover , .nav ul.f-ul li:not(:first-child):hover {
    background-color: #4e4e4e;
}
.nav ul.icon li:nth-child(3):hover{
    background-color: red;
}
/* nav left */
.nav-left {
    background-color: #333333;
    width: 70px;
    height: calc(100vh - 42px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 0;
}
.nav-left .icon li ,  .nav-left .icon-b li{
    padding: 15px 0;
    width: 70px;
    display: flex;
    justify-content: center;
}
.nav-left .icon {
    list-style: none;
}
.nav-left .icon svg , .nav-left .icon-b svg{
    height: 36px;
    color: #858585;
}
.nav-left .icon li:hover svg , .nav-left .icon-b li:hover svg {
    color: #ffffff;
}
/* active */
.active-li {
    border-left: 2px solid white;
}
.sec {
    display: flex;
    position: relative;
}
.box {
    display: none;
    width: 260px;
    background-color: #252526;
    height: calc(100vh - 42px);
    position: absolute;
    color: #c2c2c2;
    left: 70px;
    font-size: 18px;
}
.b-t {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
/* display */
.b-t .filter-b .bar {
    position: relative;
    display: none;
    width: 200px;
    background-color: #252526;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.435);
    position: absolute;
    top: 50px;
    z-index: 100;
}
.btn-f {
    padding: 5px 7px;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}
.btn-f {
    padding: 5px 7px;
    display: flex;
}
.b-t .filter-b .btn-f:hover {
    background-color: #333333;
    border-radius: 10px;
}
.b-t .filter-b .bar p{
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    text-transform: capitalize;
    cursor: pointer;
}
.bar ul {
    list-style: none;
}
.bar ul li{
    width: 200px;
    padding: 0 20px;
}
.bar ul li:hover{
    background: #008cfb;
}
.b-t svg {
    color: #c2c2c2;
    height: 23px;
}
.b-t .bar svg {
    padding-right: 8px;
    height: 26px;
}
.website {
    display: none;
    height: calc(100vh - 42px);
    flex: 1;
    position: absolute;
    /* left: calc(70px + 260px);
    width: calc(100% - 70px - 260px); */
    left: calc(70px);
    width: calc(100% - 70px);
}
.website iframe {
    width: 100%;
    height: 100%;
    background-color: white;
}
.cart-work ul li {
    padding: 10px 25px;
    list-style: none;
    font-size: 16px;
}
.cart-work ul li:hover {
    background-color: rgba(133, 133, 133, 0.188);
}
.cart-work ul li p{
    display: flex;
    align-items: center;
}
.cart-work ul li svg {
    height: 25px;
    padding-right: 10px;
}
.cart-work ul li p.html-t-psd svg {
    color: rgb(255, 0, 0);
}
.cart-work ul li p.js svg {
    color: rgb(255, 242, 0);
}