@font-face {
    font-family: vs;
    src: url(../font/CONSOLA.TTF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vs, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
}

/* nav top */
.nav {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #e0e0e0;
    color: #c2c2c2;
    height: 30px;
    font-size: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px #00000063;
    border-radius: 5px 5px 0px 0px;
    z-index: 20;
}

.f-ul {
    display: flex;
}

.f-ul li {
    padding: 8px;
    background-color: #008cfb;
    list-style: none;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset #1e1e1e66 0px 0px 5px 0px;
}

.f-ul li:first-child {
    background-color: #ff5e5c;
}

.f-ul li:nth-child(2) {
    background-color: #FFBB4E;
}

.f-ul li:last-child {
    background-color: #53c57e;
}

.title {
    color: #1e1e1e;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* nav left */
.nav-left {
    background-color: #333333;
    width: 70px;
    height: calc(100vh - 30px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 0;
}
.icon-b {
    position: relative;
}
.nav-left .icon li,
.nav-left .icon-b li:not(.manage-li li) {
    padding: 15px 0;
    width: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.nav-left .icon {
    list-style: none;
}

.nav-left .icon svg,
.nav-left .icon-b svg {
    height: 36px;
    color: #858585;
}

.nav-left .icon li:hover svg,
.nav-left .icon-b li:hover svg {
    color: #ffffff;
}

/* dispaly */
.display {
    display: block;
}

/* active */
.active-li {
    border-left: 2px solid white;
}

.sec {
    display: flex;
    position: relative;
}

.box {
    display: none;
    width: 260px;
    background-color: #252526;
    height: calc(100vh - 30px);
    position: absolute;
    color: #c2c2c2;
    left: 70px;
    font-size: 18px;
}

.b-t {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

/* display */
.b-t .filter-b .bar {
    position: relative;
    display: none;
    width: 200px;
    background-color: #252526;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.435);
    position: absolute;
    top: 50px;
    z-index: 100;
}

.btn-f {
    padding: 5px 7px;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.btn-f {
    padding: 5px 7px;
    display: flex;
}

.b-t .filter-b .btn-f:hover {
    background-color: #333333;
    border-radius: 10px;
}

.b-t .filter-b .bar p {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    text-transform: capitalize;
    cursor: pointer;
}

.bar ul {
    list-style: none;
}

.bar ul li {
    width: 200px;
    padding: 0 20px;
}

.bar ul li:hover {
    background: #008cfb;
}

.b-t svg {
    color: #c2c2c2;
    height: 23px;
}

.b-t .bar svg {
    padding-right: 8px;
    height: 26px;
}

.website {
    height: calc(100vh - 30px);
    flex: 1;
    position: absolute;
    left: calc(70px);
    width: calc(100% - 70px);
}

.website iframe {
    width: 100%;
    height: 100%;
    background-color: white;
}

.cart-work ul li {
    padding: 10px 25px;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

.cart-work ul li:hover {
    background-color: rgba(133, 133, 133, 0.188);
}

.cart-work ul li p {
    display: flex;
    align-items: center;
}

.cart-work ul li svg {
    height: 25px;
    padding-right: 10px;
}

.cart-work ul li p.html-t-psd svg {
    color: rgb(255, 0, 0);
}

.cart-work ul li p.js svg {
    color: rgb(255, 242, 0);
}

.githp,
iframe.web {
    display: none;
}

/* skills */
.skills,
.about {
    display: none;
    color: white;
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - 30px - 40px);
    left: 40px;
    top: 40px;
}

.about .t-about {
    padding-left: 30px;
    display: block;
    font-size: 23px;
    text-align: left;
    max-width: 900px;
}

.t-about p {
    color: #008cfb;
    display: inline;
}

.anim-sk {
    content: '';
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.anim-sk span {
    width: 20px;
    height: 20px;
    background-color: #008cfb;
    margin: 10px;
    border-radius: 50%;
}

.anim-sk span:first-child {
    animation: anim-sp 0.5s infinite linear;
}

.anim-sk span:nth-child(2) {
    animation: anim-sp 0.4s infinite linear;
}

.anim-sk span:nth-child(3) {
    animation: anim-sp 0.8s infinite linear;
}

@keyframes anim-sp {
    0% {
        transform: translate(0, 0px);
    }

    30% {
        transform: translate(0, 30px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0px);
        opacity: 0;
    }
}

.skills .tags,
.about .tags {
    color: #008cfb;
    font-size: 23px;
}

.skills h1,
.about h1 {
    font-size: 53px;
}

/* POSTION */

.sec-h {
    position: absolute;
    top: calc(50% - 82px - 80px);
    left: 80px;
}

.sec-h h1 {
    margin-left: 18px;
}

.sec-h img {
    height: 120px;
    padding: 10px;
    margin: 0 20px;
    position: relative;
    transition: 0.5s;
}

.sec-h img:hover {
    transform: scale(1.2);
}

.s-b-b {
    position: absolute;
    bottom: 30px;
    left: 80px;
}

.s-b-t {
    position: absolute;
    left: 80px;
}

.s-t-b {
    position: absolute;
    bottom: 0;
}

/* contact */
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    display: none;
}

.contact .main-c {
    width: 650px;
}

.contact h1 {
    font-size: 72px;
    text-align: center;
}

.contact p {
    text-align: center;
    margin-bottom: 30px;
}

.contact input,
.contact textarea {
    background-color: #2d2d2d;
    outline: 0;
    border: 0;
}

.contact input {
    width: 100%;
    padding: 30px;
}

.contact form div.p-e {
    display: flex;
}

.contact form div.p-e .e {
    flex: 1;
    position: relative;
}

.contact div input {
    flex: 1;
    padding: 30px;
    margin-bottom: 30px;
}

.contact textarea,
.contact input {
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.contact textarea {
    width: 100%;
    display: block;
    padding: 30px;
    resize: none;
}

.contact button {
    float: right;
    border: none;
    padding: 11px 33px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 30px;
    background-color: #008cfb;
    color: white;
    cursor: pointer;
}

.contact button:hover {
    background-color: #008afb78;
}

.contact .contact-info {
    background: #008cfb;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    left: 20px;
}

.contact-info div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-icon {
    padding-right: 10px;
}

.name,
.msg {
    position: relative;
}

.contact input~label,
textarea~label {
    color: #999;
    padding-left: 30px;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 30px;
    transition: all 0.25s ease;
    pointer-events: none;
}

/* manage list */

.manage-li {
    left: 70px;
    position: absolute;
    bottom: 0;
    background: #333;
    width: 600px;
    z-index: 800;
    list-style: none;
    font-size: 20px;
}
.manage-li li {
    padding: 20px 0px 20px 0;
    
}
.manage-li li:not(:last-child) {
    border-bottom: 1px solid white;
}
.manage-li li a {
    text-decoration: none;
    color: white;
    padding-left: 30px;
}
/* social media */
.smedia {
    height: calc(100% - 30px);
}